<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <link rel="stylesheet" href="form.css">
</head>

<body>
  <div class="form-container">
    <h1>Form Page</h1>
    <form action="/form" method="post">
      <label for="name">Name</label><br>
      <input type="text" name="n" required="required"><br>
      <label for="email">Email</label><br>
      <input type="email" name="e" required="required"><br>
      <label for="age">Age</label><br>
      <input type="number" name="a" required="required"><br>
      <label for="city">City</label><br>
      <input type="text" name="c" required="required"><br>
      <label for="profession">Profession</label><br>
      <input type="text" name="p" required="required"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <a href="/">Back To Home Page</a>
</body>

</html>