@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.form-container {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 1px solid #b2b2b2;
  border-radius: 9px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

a{
  margin: 10px;
}

input {
  padding: 5px;
  border: none;
  outline: 1px solid #b2b2b2;
  border-radius: 6px;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}
